{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <h2>Ближайшие выпуски</h2>
        <div class="row">
            {% for journal in object_list %}
                        {% if journal.available_for_publication %}
                            {% include "catalog/journal_list_content.html" %}
                        {% endif %}
            {% endfor %}

            <div class="col-lg-12">
           <br/><br/>
                <h2>Информация для авторов</h2>
    <p>Стремительная интеграция страны в европейскую систему образования принесла россиянам новую классификацию студенческого сообщества. Магистратура в этой системе следует за бакалавриатом и служит ступенью на пути к успешной научной карьере. Публикация статей для магистрантов — обязательное условие обучения на последних курсах магистратуры высших учебных заведений, защиты диссертации и получения диплома магистра.</p>

<p>Становится понятно, что человек, устремивший взор к научной карьере, желающий поступить в аспирантуру, докторантуру и продолжать исследовательскую деятельность, должен уметь грамотно структурировать и выражать свои мысли. Самостоятельное написание научных статей дает магистранту простор для творческой деятельности и самореализации, помогает четко определиться с выбором направления научных исследований. К тому же, публикация магистерских статей несет еще массу преимуществ студентам, обучающимся в магистратуре:</p>
<ul>
<li>представление и обсуждение своих научных изысканий на форумах, конференциях, семинарах;</li>
<li>углубление профессиональных знаний и приобретение конкурентоспособности;</li>
<li>возможность получения грантов для продолжения научной карьеры, а также обучения в зарубежных вузах;</li>
<li>материальное поощрение и повышение личного имиджа;</li>
<li>вероятность быть замеченным как в научном сообществе, так и в кругу работодателей.</li>
</ul>
</div>
        </div>
    </div>



{% endblock %}