{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block title %}Добавить статью{% endblock %}

{% block content %}

    <div class="container">
        <h2>Добавить статью</h2>
        <div class="row">
            <div class="col-lg-8">
                <form action="" method="post">
                    {% csrf_token %}

                    {{ form }}

                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                <br/><br/>
            </div>
            <div class="col-lg-4">
            </div>

{% endblock %}