{% extends "base_generic.html" %}

{% block title %}Авторам{% endblock %}

{% block content %}
<div class="container">
  <h2>Редакционные правила для авторов</h2>
  <div class="row">
    <div class="col-lg-9">
      <p>Все материалы, передаваемые для рассмотрения к публикации в редакцию журнала, необходимо оформлять в
        соответствии с редакционными правилами для авторов данного журнала. Вы можете найти их на странице с информацией
        о журнале. Электронная версия статьи должна быть оформлена в стилевом файле согласно издательским правилам для
        авторов.</p>
      <p>В случае противоречий в оформлении статьи ориентируйтесь на редакционные правила.</p>
      <h3>ГДЕ НАЙТИ РЕДАКЦИОННЫЕ ПРАВИЛА ДЛЯ АВТОРОВ?</h3>
      <div class="card">
        <h5 class="card-header">Шаг 1</h5>
        <div class="card-body">
          <p class="card-text">Выберите в каталоге подходящий вам по тематике журнал.</p>
        </div>
      </div>
      <br />
      <div class="card">
        <h5 class="card-header">Шаг 2</h5>
        <div class="card-body">
          <p class="card-text">Перейдите по ссылке 'подробнее о журнале' на страницу с информацией о выбранном журнале.
          </p>
        </div>
      </div>
      <br />
      <div class="card">
        <h5 class="card-header">Шаг 3</h5>
        <div class="card-body">
          <p class="card-text">Если на странице журнала появилась вкладка 'Правила для авторов', перейдите в этот
            раздел. Все имеющиеся правила предоставляются в PDF формате. Если на странице отсутствует ссылка на файл для
            скачивания, или в меню журнала нет такой вкладки, попробуйте перейти на сайт с информацией об английской
            версии журнала и переключите язык интерфейса сайта. Возможно, есть аналог правил на другом языке.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}